* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  border: none;
  width: "15rem";
}
.card-body{
  margin-left: 10px;
}
.list-group-item{
  border-bottom: none;
  margin-left: 10px;
  font-weight: bold;
}
.card-img-top{
  height: 150px;
  width: 150px;
  margin:auto;
}
.btn{
  margin-top: 10px;
}
.img-fluid{
  height: 50%;
}
.nav-title{
  text-decoration: none;
}


/* header */
.header-content {
  display: flex;
}

/* @media screen and (max-width:991px){
  .row{
    display: flex;
    flex-wrap: wrap;
  }
} */